.main::after {
  background-color: rgb(230, 240, 250);
  height: 25px;
}
.header {
  z-index: 1;
  position: relative;
  width: 100px;
  font-size: 19px;
  border-radius: 0;
  height: 45px;
  line-height: 45px;
  letter-spacing: 2px;
  color:#fff;
  background-color:  var(--temColor);
}
.main-list .titleBox {
  background-color: rgb(230, 240, 250);
}
.main-list .title {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  background-color: var(--temColor);
  color: #fff;
  text-align: center;
}
.main-list .title i{
  border-radius: 0;
  padding: 0;
}
.personal-info {
  align-items: center;
}
.personal-info .title {
  display: none;
  background-color: var(--temColor);
  color: #fff;
  text-align: center;
}
